.App {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

.App-header {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.App-header span {
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.App-logo {
  width: 50px;
}

.product-list-section {
  padding: 1rem;
  justify-self: left;
}

.show-no-products {
  display: grid;
  place-items: center;
}